
html, body {
	overflow: hidden;
	margin: 0;
}


#main {
	margin-left: 12%;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1vh;
	grid-row-gap: 2vh;
	width: 85vw; 
}



#main #sidebar { 
	grid-area: 1 / 5 / 4 / 6; 
	height: 31vw;
	overflow: auto;
}

#main .video { 
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	grid-area: 1 / 2 / 5 / 5; 
}

#startbutton {
	grid-area: 4 / 5 / 5 / 6; 
}

img {
	width: 100%;
}

#video {
	width: 100%;
}

#main #filter { 
grid-area: 1 / 1 / 4 / 2; 
overflow-y: auto;
overflow-x: hidden;
}

#main #upload {
	width: 0;
	grid-area: 4 / 1 / 5 / 2;
}

img#active_filter{
	position: absolute;

}

a.filter img {
	padding-bottom: 5px;
	border: solid grey 2px;
}

a.filter:focus img {
	border: solid red 3px;
}

a.filter:hover img {
	border: solid black 3px;
}

a.filter:active img {
	border: solid cyan 3px;
}



