
html, body {
	overflow: hidden;
	margin: 0;
}


#main {
	margin-left: 12%;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1vh;
	grid-row-gap: 2vh;
	width: 85vw; 
}



#main #sidebar { 
	grid-area: 1 / 5 / 4 / 6; 
	height: 31vw;
	overflow: auto;
}

#main .video { 
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	grid-area: 1 / 2 / 5 / 5; 
}

#startbutton {
	grid-area: 4 / 5 / 5 / 6; 
}

img {
	width: 100%;
}

#video {
	width: 100%;
}

#main #filters { grid-area: 1 / 1 / 5 / 2; }
