
.input{
    width : 100%;
    height: 10%;
    margin: 0;
    text-align: left;
}
.button{
    font-size: 5vmin;
    width: 100%;
    height: 10%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". login login ." ". . . ." ". . . .";
  }
  
  .login { grid-area: login; }
  