
html, body {
	overflow: hidden;
	margin: 0;
}


#main {
	margin-left: 12%;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1vh;
	grid-row-gap: 2vh;
	width: 85vw; 
}

#sidebar div {
	display: flex;
	margin-bottom: 0.5vw;
}

#sidebar div button {
	position: relative;
	background-color: #CD5C5C;
}



#main #sidebar { 
	grid-area: 1 / 5 / 4 / 6; 
	height: 31vw;
	overflow: auto;
}

#main .video { 
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	grid-area: 1 / 2 / 5 / 5; 
}

.startbutton {
	grid-area: 4 / 5 / 5 / 6; 
	width: 100%;
}

div#upload {
	display: flex;
	flex-direction: column;
}


img {
	width: 100%;
}

#video {
	width: 100%;
}

#main #filter { 
	grid-area: 1 / 1 / 4 / 2; 
	overflow-y: auto;
	overflow-x: hidden;
}


img#active_filter{
	position: absolute;

}

	input[type='file'] {
		width: 17vw;
	}

a.filter img {
	padding-bottom: 5px;
	border: solid grey 2px;
}

a.filter:focus img {
	border: solid red 3px;
}

a.filter:hover img {
	border: solid black 3px;
}

a.filter:active img {
	border: solid cyan 3px;
}

@media screen and (max-width: 750px) {
	* {
		margin: 0;
	}
	#main  {
		margin: 0;
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
		grid-column-gap: 0px;
		grid-row-gap: 0px; 
		width: 100%;
	}
	.video {
		grid-area: 1 / 1 / 10 / 2!important;  
	}
	.filter img{
		background-size: content;
	}
	#main #filter {
		grid-area: 10 / 1 / 12 / 2!important;
		overflow-y: hidden;
		overflow-x: auto;
		display: flex;
		height: 100%;
	}
	#main #sidebar {
		grid-area: 1 / 2 / 10 / 3!important;
		height: 61vw;
		overflow-y: auto;
		overflow-x: hidden;
	}
	#main #filter a {
		 height: 13vw;
		  width: auto;
		   overflow: hidden;
	border: solid grey 2px;
	display:flex;
	justify-content: center;
	}
	#main #filter img {
		    height: auto;
			 width: 400px;
	}
	p {
		display:none;
	}
	input[type='file'] {
		width: 17vw;
	}

	.startbutton {
		grid-area: 10 / 2 / 12 / 3;
	}
}
