div#like img{
    width: 7vw;
    margin-left: 20%;
}

div#main {
    background-color:lightblue;
    margin: 0 12% 0 12%;
    border-radius: 20px;
}
img#big {
    width: 100%;
    padding: 12%;
    border-radius: 110px;
}
div#commentary div{
    margin-bottom: 1%;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    word-wrap: break-word;
}

div#new_commentary{

    padding: 1% 5% 3% 5%;
}
div#new_commentary input,button{

   width: 50%; 
}